@import "../../core/pta.scss";

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 12px;
}

.year {
  font-family: Oswald;
  font-size: 56px;
  font-weight: 300;
  line-height: 1.1em;
}

.description {
  max-width: 480px;
}

@media (max-width: 800px) {
  .main {
    height: 300px;
  }
}

.description > mark {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  padding: 4px;
  background: $pt-color-gold;
  color: $pt-text-color;
}

.title {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 34px;
  position: relative;
  font-weight: 300;
}
