@import "core/pta";

.inline-price {
  margin-bottom: 8px;
}

.image {
  img { width: 50px; }
}

.quantity {
  @include media(phone) {
    display: none;
  }
  vertical-align: baseline;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.name {
  padding-top: $pt-grid-size;
  @include media(phone) {
    display: none;
  }
}

.name-mobile {
  @include media(tablet) {
    display: none;
  }

  @include media(pc) {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .info {
      flex: 1 1 auto;
    }
  }
}

.price,
.sub-total {
  text-align: right !important;
  vertical-align: baseline !important;

  @include media(phone) {
    display: none;
  }
}
