@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500&subset=vietnamese");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Condensed&display=swap');
@import "core/pta";

html, body {
  min-height: 100%;
}

body {
  color: $pt-text-color;
  background: $dark-gray2;
}

#root {
  height: 100%;
}

fieldset {
  padding: 0;
  border: none;
}

h1 {
  font-weight: 300 !important;
  font-family: "Oswald" !important;
}
